.vertical_nav {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100px;
  justify-content: space-around;
  align-items: center;

}

.vertical_nav p {
  color: white;
  font-size: 12px;
  font-weight: 700;
  transform: rotate(270deg);
  width: 170px;

}

.icons {
  margin-top: 50px;
}

.icon_wrapper {
  margin-top: 20px;
}